{% extends 'base.html' %}

{% load my_tags %}



{%  block body  %} 


{% for post in post_list %} 

<article class="post vt-post">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-5 col-lg-4">
            <div class="post-type post-img">
                <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar{{ post.owner.id|mod:6|add:2  }}.png" class="img-thumbnail rounded img" alt="image post"></a>
            </div>
            <div class="author-info author-info-2  col-lg-8">
                <ul class="list-inline">
                    <li >
                        <div class="info" style='margin-right: 20px;'>
                            <span>Posted on:</span>
                            <strong>{{post.published_at|timesince}}</strong></div>
                    </li>
                    <li>
                        <div class="info">
                            <span>Comments:</span>
                            <strong>0</strong></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
            <div class="caption">
                <h2>{{post.owner.username}}</h2>
                <p> {{post.text}}</p>
        </div>
    </div>
</article>


{% endfor %}
{% endblock %}